# Contract

node_modules
booking_contract/dist/build
booking_contract/dist/lib/
booking_contract/dist/index.js

api-commands.txt

# React App
#Custom files & folders
backups

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
booking_client_app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
